h3 .addsubticket {
    font-size: 90%;
}

#ticket table.subtickets {
    width: 100%;
}

#ticket table.subtickets td,
#ticket table.subtickets th {
    font-size: 80%;
}

.subtickets {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.subtickets h3 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}

/* Title style for subtickets section */
.subtickets-section h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #663;
}

.subtickets table {
    width: 100%;
    border-collapse: collapse;
}

.subtickets th {
    text-align: left;
    padding: 0.5em;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
}

.subtickets td {
    padding: 0.5em;
    border-bottom: 1px solid #eee;
}

/* インデントのスタイル */
.subtickets .indent {
    display: inline-block;
    margin-right: 0.2em;
}

.subtickets .indent-level {
    display: inline-block;
    width: 0.6em;
    height: 1em;
    margin-right: 0.1em;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.subtickets-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #dd9;
}

.subtickets-header h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #663;
}

.subtickets-header .buttons {
    margin-left: 1em;
    white-space: nowrap;
}

/* ボタンのようなリンクスタイル */
.buttons .newticket {
    background: #f6f6f6 url(../../../chrome/common/buttons.png) 0 0;
    border: 1px solid #999;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    padding: 0.1em 0.5em;
    text-decoration: none;
}

.buttons .newticket:hover {
    background-color: #e6e6e6;
    color: #333;
    text-decoration: none;
}

.subtickets a {
    text-decoration: none;
}

.subtickets a.closed {
    text-decoration: line-through;
    color: #999;
}

.subtickets tr:hover {
    background-color: #f0f0f0;
}

.tickets {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

.tickets th {
    background: #f7f7f7;
    border-bottom: 1px solid #d7d7d7;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
}

.tickets td {
    padding: 3px 5px;
    vertical-align: top;
}

.tickets tr.odd {
    background: #f7f7f0;
}

.tickets tr.even {
    background: #fff;
}

.tickets td.id {
    width: 60px;
}

.tickets td.owner {
    width: 100px;
}

.tickets td.status {
    width: 80px;
}

.tickets tr:hover {
    background: #eed;
}
